{{ define "main" }}

<section>
  <div class="container">
    <div class="row">
      <main role="main" class="inner cover">
        <div class="col-sm">
          <h1 class="cover-heading">Katie Hunter</h1>
          <p class="lead">Writer focused on education, travel, and stories that create change.</p>
        </div>
        <div class="col-sm">
          <img src="/images/katie-looking.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </main>
    </div>
  </div>
</section>

{{ end }}